body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

#layout {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#layout-header {
  font-weight: 400;
  font-size: 1.2em;
  color: var(--neutral-100);
  background-color: var(--neutral-800);
  user-select: none;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#layout-header > p {
  font-family: 'Italianno', cursive;
  font-size: 3em;
  text-align: center;
}

#layout-menu > ul {
  margin: 0 auto 0 auto;
  max-width: 35%;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  
  flex-wrap: wrap;
}

#layout-menu > ul > li {
  flex: 1;
  text-align: center;
}

#layout-menu a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-color: var(--neutral-100);
}

#layout-menu a.active {
  border-style: solid;
}

#layout-menu a:hover {
  border-style: solid;
  color: var(--neutral-200);
  border-bottom-color: var(--neutral-200);
} 

#layout-main {
  justify-self: center;
  margin: 2em 0 2em 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

#layout-footer {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  padding: 2em;
}

#layout-footer p {
  text-align: center;
}

/* XS */
@media only screen and (min-width:  0px) and (max-width: 640px) {
  #menu-page section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* SM */
@media only screen and (min-width:  640px) and (max-width: 768px) {
  #menu-page section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MD */
@media only screen and (min-width:  768px) and (max-width: 1024px) {
  #menu-page section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* LG */
@media only screen and (min-width:  1024px) and (max-width: 1280px) {
  #menu-page section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* XL */
@media only screen and (min-width:  1280px) and (max-width: 1536px) {
  #menu-page section {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* 2XL */
@media only screen and (min-width:  1536px) {
  #menu-page section {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Pages */

#router {
  width: 100%;
  height: auto;
}

#router > * {
  background-color: var(--neutral-700);
  color: var(--neutral-200);
  margin: 0 auto 0 auto;
  border-radius: 15px;
  padding: 2em;
}

#router h1 {
  font-family: 'Italianno', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 0.7em;
}

#router h2 {
  font-family: 'Italianno', cursive;
  font-size: 2.7em;
  text-align: center;
  margin-bottom: 0.4em;
}

#router p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2em;
} 

#home-page {
  height: 100%;
  width: fit-content;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 100%;
  gap: 3em;
}

#home-page .container {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

#menu-page {
  width: 75%;
  height: 100%;
  display: grid;
  gap: 2em;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  
}

#menu-page section {
  display: grid;
  grid-template-rows: auto;
  gap: 2em;
}

#menu-page article {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: auto;
}

#menu-page img {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: red;
  border-radius: 15px;
}

#menu-page h2 {
  align-self: center;
}

#menu-page p {
  font-size: 1.1em;
}