body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  width: 100vw;
  height: 100vh;
}

a {
  cursor: pointer;
}

#layout {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#layout-header {
  font-weight: 400;
  font-size: 1.2em;
  color: var(--neutral-100);
  background-color: var(--neutral-800);
  user-select: none;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#layout-header > p {
  font-family: 'Italianno', cursive;
  font-size: 3em;
  text-align: center;
}

#layout-menu > ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  
  flex-wrap: wrap;
}

#layout-menu a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom-width: 3px;
  border-bottom-color: var(--neutral-100);
}

#layout-menu a.active {
  border-style: solid;
}

#layout-menu a:hover {
  border-style: solid;
  color: var(--neutral-200);
  border-bottom-color: var(--neutral-200);
} 

#layout-main {
  justify-self: center;
  background-color: var(--neutral-700);
  margin: 2em 0 2em 0;
  border-radius: 15px;
  padding: 2em;
}

#router {
  width: 100%;
  height: 100%;
}

#layout-footer {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr;
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  padding: 2em;
}

#layout-footer p {
  text-align: center;
}

/* XS */
@media only screen and (min-width:  0px) and (max-width: 640px) {}

/* SM */
@media only screen and (min-width:  640px) and (max-width: 768px) {}

/* MD */
@media only screen and (min-width:  768px) and (max-width: 1024px) {}

/* LG */
@media only screen and (min-width:  1024px) and (max-width: 1280px) {}

/* XL */
@media only screen and (min-width:  1280px) and (max-width: 1536px) {}
/* 2XL */
@media only screen and (min-width:  1536px) {}


/* Pages */

#home-page {
  color: var(--neutral-200);
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 100%;
}

#home-page h1 {
  font-family: 'Italianno', cursive;
  font-size: 3em;
  text-align: center;
}

#home-page h2 {
  font-family: 'Italianno', cursive;
  font-size: 2.7em;
  text-align: center;
  margin-bottom: 0.4em;
}

#home-page .container {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

#home-page p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2em;
} 