.todo-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  > h1 {
    font-size: 1.8em;
  }

  > ul {
    overflow-y: auto;
    padding: 0.7em;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 1.2em;

    > li:has(.add-button) {
      display: flex;
      width: 100%;
      min-height: 250px;

      > div {
        margin : auto;
        
        > .add-button {
          font-size: 4em;
        }
      }
    }

    > li:not(:has(.add-button)){
      background-color: $neutral-500;
      color: $neutral-100;
      height: fit-content;
      width: 100%;
      border-radius: 15px;
    }

    > li {
      > .todo-list-item,
      > .todo-form {
        height: 100%;
        font-size: 0.9em;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 5);
        gap: 1em;
        
        > div {
          width: 100%;

          > * {
            width: 100%;
          }

          > p:first-child,
          > label {
            font-size: 0.8em;
          }

          > p:last-child {
            font-size: 1.2em;
          }

          > *:last-child {
            height: 30px;
            max-height: 30px !important;
            width: 100% !important;
          }

          > p,
          > label {
            display: inline-block;
          }

          > input,
          > select {
            border: none;
            padding: 0 5% 0 5% !important;
          }
        }

        > div.valid { 
          color: $green-300;
          > input,
          > select {
            background-color: $green-200;
          }
        }

        > div.invalid {
          color: $red-300;
          > input,
          > select {
            background-color: $red-200;
          }
        }

        > .actions {
          display: flex;
          justify-content: space-around;
          
          button {
            font-size: 1.4em;
          }
        }
      } 
    }
  }

  @media all and (min-width: $xs) and (max-width: ($sm - 250)) {
    > ul {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media all and (min-width: ($sm - 250)) and (max-width: $md) {
    > ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media all and (min-width: $md) and (max-width: $lg) {
    > ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media all and (min-width: $lg) and (max-width: $xl) {
    > ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media all and (min-width: $xl) and (max-width: $xxl) {
    > ul {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media all and (min-width: $xxl) {
    > ul {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}


#error-404 {
  padding-top: 3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  > h1 {
    text-transform:uppercase;
    font-size: 2.5em;
    font-weight: 700;
  }

  > p {
    font-size: 2em;
    font-weight: 500;
  }
}