.todo-page {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > h1 {
    font-size: 1.8em;
  }

  .todo-form {
    margin: 0 auto 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    > .form-field {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  > ul {
    display: flex;
    flex-direction: row;
    gap: 1.2em;

    > li:first-child {
      margin: auto;
    }

    > .todo-list-item {
      > div {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
          "name" 
          "project" 
          "due-date" 
          "priority" 
          "actions"
        ;
        gap: 1em;

        > .name {
          grid-area: name;
          color: red;
        }
        > .due-date {
          grid-area: due-date;
        }
        > .priority {
          grid-area: priority;
        }
        > .project {
          grid-area: project;
        }

        > .actions {
          grid-area: actions;
          display: flex;
          width: 100%;
          
          button {
            font-size: 1em;
          }
        }
      } 
    }
  }
}

#error-404 {
  padding-top: 3em;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
  > h1 {
    text-transform:uppercase;
    font-size: 2.5em;
    font-weight: 700;
  }

  > p {
    font-size: 2em;
    font-weight: 500;
  }
}